body {
  font-family: helvetica, arial, sans-serif;
  text-size-adjust: none;

}

#map {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#info {
  z-index: 100;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 400px;
  font-size: 0.85em;
  /*pointer-events: none;*/
}

#info strong{
  font-size: 1.2em;
  /*margin-bottom: 8px;*/
  /*margin-top: 8px;*/
  /*margin:5px;*/
}
p.right {
  text-align: right;
}
a {
  color: rgb(20,40,200);
  text-decoration: none;
  padding: 2px;
  font-weight: bold
}
a:visited {
  color: rgb(20,40,200);
}
a:hover {
  background-color: rgba(20,200,150,0.3);
  color: rgb(20,40,200);
}

.mapboxgl-popup-tip, .mapboxgl-popup-content {

}
